<p>add-assignment works!</p>
<form [formGroup]="assignmentForm">
    <mat-card class="example-card">



        <mat-card-content>
            <p>
                Question:
              <mat-form-field appearance="outline" class="textarea">
                <input type="text" matInput formControlName="question" />
              </mat-form-field>
            </p>
          </mat-card-content>

      <mat-card-content>
        <p>
            Answer:
          <mat-form-field appearance="outline" class="textarea">
            <input type="text" matInput formControlName="answer" />
          </mat-form-field>
        </p>
      </mat-card-content>

      <mat-card-actions>
        Score:
        <mat-form-field appearance="outline">
          <input type="text" matInput formControlName="assignmentScore" />
        </mat-form-field>
      </mat-card-actions>
    </mat-card>
  </form>
  <mat-dialog-actions >
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="assignment" cdkFocusInitial (click)="addAssignment()">ADD</button>
  </mat-dialog-actions>
