<p>individual-assessment works!</p>
hey

<mat-card>
    <mat-card-title>{{assessment.assessmentName}}</mat-card-title>
    <mat-card-subtitle>{{assessment.description}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" class="text-upper" (click)="updateAssessment()">update</button>
        <button mat-button class="text-upper" (click)="deleteAssessment()">Delete</button>
    </mat-card-actions>
</mat-card>
