mat-toolbar {
  cursor: pointer;
  float:right;
}

.right{
  /* position: absolute;
  right: 0px;
  top: 2px; */
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}