<div *ngIf="toggle; else elseBlock">
    part1
    <mat-card class="example1-card">
      <div class="toolbar">
        <h2 class="inline">question {{ quiz.quizId }}</h2>
        <button mat-button class="inline" (click)="removeQuiz()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button class="inline" (click)="enableEdit()">
          <mat-icon>create</mat-icon>
          <mat-label>Edit</mat-label>
        </button>
      </div>
      <mat-card-header>
        <mat-card-title>
          <mat-icon>star</mat-icon>{{ quiz.question }}</mat-card-title
        >
      </mat-card-header>
  
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="10:1">
          <mat-grid-tile
            ><mat-icon>radio_button_checked</mat-icon>
            {{ quiz.optionA }}</mat-grid-tile
          >
          <mat-grid-tile
            ><mat-icon>radio_button_checked</mat-icon>
            {{ quiz.optionB }}</mat-grid-tile
          >
          <mat-grid-tile
            ><mat-icon>radio_button_checked</mat-icon>
            {{ quiz.optionC }}</mat-grid-tile
          >
          <mat-grid-tile
            ><mat-icon>radio_button_checked</mat-icon>
            {{ quiz.optionD }}</mat-grid-tile
          >
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Answer: {{ quiz.answer }}</button>
        <mat-label class="score">Mark: {{ quiz.quizScore }}</mat-label>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
  
  <ng-template #elseBlock>
    part2
    <div class="dispaly">
      <form [formGroup]="updationForm" (ngSubmit)="saveQuiz()">
        <mat-card class="example-card">
          <div class="toolbar">
            <h2 class="inline">question {{ quiz.quizId }}</h2>
            <button mat-button class="inline">
              <mat-icon>delete</mat-icon>
            </button>
            <button type="submit" mat-raised-button class="inline">
              <mat-icon>save_alt</mat-icon>
              <mat-label>Save</mat-label>
            </button>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <mat-form-field appearance="outline">
                <input type="text" matInput formControlName="question" />
              </mat-form-field>
            </mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <mat-grid-list cols="5">
              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <input type="text" matInput formControlName="optionA" />
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile
                ><mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    formControlName="optionB"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile
                ><mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    formControlName="optionC"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile
                ><mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    formControlName="optionD"
                  /> </mat-form-field
              ></mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
          <mat-card-actions>
            <mat-form-field >
              <input type="number" matInput formControlName="answer" />
            </mat-form-field>
  
            <mat-form-field class="score">
              <input type="number" matInput formControlName="quizScore" />
            </mat-form-field>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
      </form>
    </div>
  </ng-template>
  
